<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/index.css">
    </head>
    <body>
        <h1>Welcome to the Movie App!</h1>

<form action="/users/login" method="POST">
<div>

    <h2>LOGIN</h2>
    
<input for="email" id="email" name="email" type="text" placeholder="Email" />
<input for="password" id="password" name="password" type="text" placeholder="Password" />
<button type="submit" >LOG IN</button>
</div>
</form>

<form action="/users/register" method="POST">
<div>
    <h2>REGISTER</h2>
  
<input for="name" id="name" name="name" type="text" placeholder="Name" />
<input for="email" id="email" name="email" type="text" placeholder="Email" />
<input for="password" id="password" name="password" type="text" placeholder="Password" />
<button type="submit">REGISTER</button>
</div>
</form>

    </body>
</html>