<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Success, New Movie Added!</h1>

        <form action="/users/menu" method="GET">
            <button type="submit">Main Menu</button>
        </form>
        <form action="/users/logout" method="GET">
            <div>
            <button type="submit">Logout</button>
            </div>

    </body>
</html>